<div class="login-page">
  <div class="form">
      <br>Student Data<br>
    <br>Code: <a>{{code}}</a>
      <br>Name: <a>{{this.data.name}}</a>
      <br>Last Name: <a>{{this.data.lastname}}</a>
      <br>Phone Number: <a>{{this.data.number}}</a>
      <br>Email: <a>{{this.data.email}}</a>
      <br><br>
    <div class="buttons">
      <br><button routerLink="/login" class="button">Create Student</button>
      <br><button routerLink="/admin" class="button">Update Student</button>
      <br><button routerLink="/admin" class="button">Delete Student</button>
      </div>
  </div>
</div>
