
<div>
  <div id="left" class="buttons">
    <br>
    <br>
    <a class="menu">Actions:</a>
    <br>
    <br>
    <a class="menu">Student</a>
    <br><button routerLink="/student/create" class="button">Create Student</button>
    <br><button routerLink="/student/update" class="button">Update Student</button>
    <br><button routerLink="/student/delete" class="button">Delete Student</button>
    <br>
    <br>
    <br>
    <a class="menu">Teacher</a>
    <br><button routerLink="/teacher/create" class="button">Create Teacher</button>
    <br><button routerLink="/teacher/update" class="button">Update Teacher</button>
    <br><button routerLink="/teacher/delete" class="button">Delete Teacher</button>
    <br>
    <br>
    <br>
    <br><button routerLink="/login" class="button">Logout</button>
  </div>
  <div id="right">
      <div class="login-page">

        <div>
          <table class="form" border="1" cellpadding="5" cellspacing="1">
            Student List:<br><br>
            <tr>
              <th>Code</th>
              <th>Name</th>
              <th>Last Name</th>
              <th>Number</th>
              <th>Email</th>
            </tr>
            <tr *ngFor = "let d of data">
              <td><a>{{d.code}}</a></td>
              <td><a>{{d.name}}</a></td>
              <td><a>{{d.lastname}}</a></td>
              <td><a>{{d.number}}</a></td>
              <td><a>{{d.email}}</a></td>
            </tr>
          </table>
        </div>
      <div>
        <table class="form" border="1" cellpadding="5" cellspacing="1">
          Teacher List:<br><br>
          <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Last Name</th>
            <th>Number</th>
            <th>Email</th>
          </tr>
          <tr *ngFor = "let d of data1">
            <td><a>{{d.code}}</a></td>
            <td><a>{{d.name}}</a></td>
            <td><a>{{d.last_name}}</a></td>
            <td><a>{{d.number}}</a></td>
            <td><a>{{d.email}}</a></td>
        </tr>
      </table>
    </div>
  </div>

</div>
</div>
